.space-y-4 > :not(:last-child) {
  margin-bottom: var(--spacing-base);
}

.space-y-2 > :not(:last-child) {
  margin-bottom: var(--spacing-md);
}

.mt-4 {
  margin-top: var(--spacing-base);
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.font-bold {
  font-weight: var(--fw-bold);
}
