@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

form {
  @apply flex-col;
}

.uniform-input-container {
  @apply text-gray-700 relative;
}
.uniform-input-label {
  @apply mb-1 block font-bold leading-5;
}

.uniform-checkbox-label {
  @apply text-primary block font-bold leading-5;
}
.uniform-input {
  @apply bg-white border border-gray-500 text-gray-700 block w-full leading-5 rounded-md relative;
}
.uniform-input-disabled {
  @apply text-gray-300 cursor-not-allowed;
}
.uniform-input-text {
  @apply appearance-none p-4 block border-gray-500;
}
.uniform-input-text::placeholder {
  @apply text-gray-500;
}
.uniform-input:focus {
  @apply border-primary ring-primary outline-none;
}
.uniform-input-select {
  @apply bg-no-repeat pl-4 pr-10 py-4 block border-gray-500;
}
.uniform-input-checkbox {
  @apply align-middle flex-shrink-0 h-6 w-6 border-gray-500 rounded text-primary;
}
.uniform-input-checkbox:checked {
  @apply border-transparent;
}
.uniform-input-checkbox:checked:focus {
  @apply border-transparent;
}
.uniform-link-primary {
  @apply text-primary;
}
.uniform-link-secondary {
  @apply text-secondary;
}
.uniform-menu {
  @apply border rounded border-gray-500 outline-none;
}
.uniform-menu-item {
  @apply block rounded w-full text-left py-2 px-4 font-bold;
}
.uniform-menu-item:focus {
  @apply outline-none;
}
.uniform-menu-item:hover {
  @apply bg-gray-200;
}
.uniform-input-switch-container {
  @apply relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in;
}
.uniform-input-switch {
  @apply absolute block w-6 h-6 rounded-full bg-white border-2 appearance-none cursor-pointer transition transform translate-x-0;
}

.uniform-input-switch:checked {
  @apply translate-x-4 bg-green-500;
}
.uniform-input-switch-track {
  @apply block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer;
}
.uniform-input-switch-label {
  @apply text-primary font-bold leading-5;
}

.btn-secondary {
  @apply bg-secondary text-white hover:bg-opacity-75 border focus:border-gray-700 active:bg-opacity-75 inline-flex items-center border-transparent font-medium focus:outline-none focus:ring px-4 py-2 text-sm leading-5 tracking-wider;
}
